.header{
	max-width: 1320px;
	width: 100%;
	height: 80px;
	margin:  0 auto;
	display: flex;
	justify-content: space-between;
	align-items: center;
	padding: 0 1% 0 1%;
	img{
		cursor: pointer;
	}
	&__buttons{
		display: flex;
		gap: 15px;
	}
}