.books_card{
	max-width: 200px;
	width: 100%;
	height: 320px;
	border-radius: 10px;
	cursor: pointer;
	img{
		width: 100%;
		height: 100%;
		border-radius: 10px;
		object-fit: cover;
      border-radius: 10px;
      box-shadow: 10px 12px 10px -6px rgba(61, 60, 60, 0.36);
	}
}